{% extends "base.html" %}

{% block content %}

<h2>Checkout</h2>

<h4>Your Cart</h4>

{% for item in cart_items %}
    <div>
        <p>
            {{ item.product.name }} |
            Quantity: {{ item.quantity }} |
            Subtotal: {{ item.subtotal }}
        </p>
    </div>
{% endfor %}

<hr>

<h3>Total: {{ total_price }}</h3>

<form method="POST">
    {% csrf_token %}

    <div>
        <label>Full Name</label>
        <input type="text" name="full_name" required>
    </div>

    <div>
        <label>Phone</label>
        <input type="text" name="phone" required>
    </div>

    <div>
        <label>Address</label>
        <textarea name="address" required></textarea>
    </div>

    <button type="submit">Place Order</button>
</form>

{% endblock %}