{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- HERO BANNER BAŞLANGIÇ -->
<section class="brew-hero mb-5">

   
</section>
<!-- HERO BANNER BİTİŞ -->


<h2 class="mb-4">
    Featured Products
</h2>

<div class="row">

    <!-- PRODUCT CARD 1 -->
    <div class="col-md-3 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5>Colombia Supremo</h5>
                <p>450 TL</p>
                <p>Stock: 12</p>
                <a href="#" class="btn btn-dark">Detail</a>
            </div>
        </div>
    </div>

</div>

{% endblock %}