{% extends "base.html" %}

{% block content %}

<div class="container py-5">

    <h2 class="fw-bold mb-4">
        Edit Review
    </h2>

    <form method="POST">

        {% csrf_token %}

        <!-- Rating -->
        <div class="mb-3">

            <label class="form-label">
                Rating
            </label>

            <select name="rating" class="form-select">

                <option value="1"
                    {% if review.rating == 1 %}selected{% endif %}>
                    1 Star
                </option>

                <option value="2"
                    {% if review.rating == 2 %}selected{% endif %}>
                    2 Stars
                </option>

                <option value="3"
                    {% if review.rating == 3 %}selected{% endif %}>
                    3 Stars
                </option>

                <option value="4"
                    {% if review.rating == 4 %}selected{% endif %}>
                    4 Stars
                </option>

                <option value="5"
                    {% if review.rating == 5 %}selected{% endif %}>
                    5 Stars
                </option>

            </select>

        </div>

        <!-- Comment -->
        <div class="mb-3">

            <label class="form-label">
                Comment
            </label>

            <textarea
                name="comment"
                class="form-control"
                rows="5"
            >{{ review.comment }}</textarea>

        </div>

        <button type="submit" class="btn btn-dark">
            Update Review
        </button>

    </form>

</div>

{% endblock %}